#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
GenericName=Insta
Name=Insta
Comment=Unofficial Instagram Desktop
Exec=insta --system-logon
Icon=insta
Terminal=false
Categories=Network;WebBrowser;
X-KDE-StartupNotify=false
